@use "tailwindcss";
@use "./scrollbar.scss";
@use "./animation.scss";

@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body {
  font-family: var(--font-suit), var(--font-pretendard), var(--font-noto);
}

button {
  cursor: pointer;
}

:root {
  --primary-color: rgb(254, 104, 29);
  --secondary-color: rgb(255, 160, 36);

  --error-color: rgb(219, 24, 24);
  --warning-color: rgb(230, 158, 33);
  --success-color: rgb(16, 207, 16);
  --info-color: rgb(45, 87, 238);
  
  --background-color: rgb(245, 245, 245);
  --foreground-color: rgb(55, 55, 55);

  --text-main-color: rgb(15, 15, 15);
  --text-sub-color: rgb(45, 45, 45);
  --text-inverse-color: rgb(245, 245, 245);

  --gray-1: rgb(75, 75, 75);
  --gray-2: rgb(95, 95, 95);
  --gray-3: rgb(115, 115, 115);
  --gray-4: rgb(135, 135, 135);
  --gray-5: rgb(155, 155, 155);
  --gray-6: rgb(175, 175, 175);
  --gray-7: rgb(195, 195, 195);
  --gray-8: rgb(215, 215, 215);
  --gray-9: rgb(235, 235, 235);
  --gray-10: rgb(242, 242, 242);

  --house-apartment: rgb(125, 95, 174);
  --house-officetel: rgb(68, 94, 168);
  --house-etc: rgb(71, 161, 104);

  --font-suit: 'Suit', sans-serif;
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --font-noto: 'Noto Sans KR', sans-serif;
}

.dark {
  --primary-color: rgb(255, 132, 0);
  --secondary-color: #ffa95e;

  --error-color: rgb(255, 161, 161);
  --warning-color: rgb(255, 198, 100);
  --success-color: rgb(130, 254, 130);
  --info-color: rgb(104, 137, 255);

  --background-color: rgb(20, 20, 20);
  --foreground-color: rgb(200, 200, 200);

  --text-main-color: rgb(245, 245, 245);
  --text-sub-color: rgb(226, 226, 226);
  --text-inverse-color: rgb(15, 15, 15);

  --gray-1: rgb(180, 180, 180);
  --gray-2: rgb(160, 160, 160);
  --gray-3: rgb(140, 140, 140);
  --gray-4: rgb(120, 120, 120);
  --gray-5: rgb(100, 100, 100);
  --gray-6: rgb(80, 80, 80);
  --gray-7: rgb(60, 60, 60);
  --gray-8: rgb(45, 45, 45);
  --gray-9: rgb(27, 27, 27);
  --gray-10: rgb(15, 15, 15);

  --house-apartment: rgb(108, 62, 181);
  --house-officetel: rgb(68, 94, 168);
  --house-etc: rgb(71, 161, 104);
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

  --color-error: var(--error-color);
  --color-warning: var(--warning-color);
  --color-success: var(--success-color);
  --color-info: var(--info-color);

  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);

  --color-main: var(--text-main-color);
  --color-sub: var(--text-sub-color);
  --color-inverse: var(--text-inverse-color);

  --color-accent-1: var(--primary-color);
  --color-accent-2: var(--secondary-color);
  --color-accent-3: var(--tertiary-color);
  --color-accent-4: var(--quaternary-color);
  --color-accent-5: var(--quinary-color);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);

  --color-house-apartment: var(--house-apartment);
  --color-house-officetel: var(--house-officetel);
  --color-house-etc: var(--house-etc);

  --font-suit: var(--font-suit);
  --font-pretendard: var(--font-pretendard);
  --font-noto: var(--font-noto);
}

.ol-zoom {
  display: none;
}

.text-stroke {
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white
}